################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/NAS-AutoHelper/bin/Debug/net8.0
/NAS-AutoHelper/obj
/NAS-AutoHelper/.vs/NAS-AutoHelper/FileContentIndex/ae6563ae-fd59-46e8-ae8f-36649e4d5b37.vsidx
/NAS-AutoHelper/.vs/NAS-AutoHelper/v17/.suo
/NAS-AutoHelper/.vs/NAS-AutoHelper
