################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/NAS-AutoHelper/bin/Debug/net8.0
/NAS-AutoHelper/obj
