<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <!-- 应用程序的名称和其他基本信息 -->
        <key>CFBundleName</key>
        <string>UPS自动关机</string> <!-- 应用名称 -->
        <key>CFBundleDisplayName</key>
        <string>UPS自动关机</string> <!-- 显示在应用图标下的名称 -->
        <key>CFBundleIdentifier</key>
        <string>top.reminisce.NAS-AutoHelper</string> <!-- 应用程序的唯一标识符 -->
        <key>CFBundleVersion</key>
        <string>1.0.0</string> <!-- 应用程序的版本号 -->
        <key>CFBundleShortVersionString</key>
        <string>版本1.0.0</string> <!-- 应用程序的版本号，用于用户显示 -->
        <key>NSHighResolutionCapable</key>
        <true/>
        <key>CFBundleExecutable</key>
        <string>NAS-AutoHelper</string> <!-- 应用程序的可执行文件名 -->
        <!-- 应用程序的图标 -->
        <key>CFBundleIconFile</key>
        <string>tray.icns</string>
    </dict>
</plist>